<h1 class='center-align blue-grey-text text-darken-3'><%= current_user.first_name %>'s Bukkits</h1>
<div class='row'>
<%= will_paginate @buckets %>
  <% @buckets.each do |bucket| %>
    <div class='col s12 m6 l2 cards-container'>
      <div class=" card large blue-grey darken-1">
          <p class='center-align title-color'><%= link_to bucket.name, bucket_path(bucket), class: 'card-title' %></p>
          <div class="card-content white-text">
          <% bucket.items.each do |item| %>
            <ul>
              <li><%= item.name %></li>
            </ul>
          <% end %>
        </div>
        <div class="card-action">
          <%= link_to "Delete", bucket_path(bucket), method: :delete %>
        </div>
      </div>
    </div>
  <% end %>
</div>


<%= link_to "New Bucket", new_bucket_path, class: 'waves-effect waves-light btn-large margin-left' %>
